.nav-bar {
    display: flex;
    height: 300px;
    background-color: grey;
    color: gray;
}

.active {
    color: brown;
    font-weight: bold;
    text-decoration: none;
  }
  .disable {
    color: #f6f4e6;
    text-decoration: none;
  }
  